<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="yaskawa_mh5lf">
    
    <xacro:property name="PI" value="3.14159"/>

    <ros2_control name="RobotSystem" type="system">

        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>

            <plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
                <arm>
                    <arm_name>gripper</arm_name>
                    <palm_link>robotiq_85_left_inner_knuckle_link</palm_link>
                    <gripper_link>robotiq_85_right_knuckle_link </gripper_link>
                    <gripper_link>robotiq_85_left_knuckle_link </gripper_link>
					<gripper_link>robotiq_85_left_finger_link </gripper_link>
					<gripper_link>robotiq_85_right_finger_link </gripper_link>
					<gripper_link>robotiq_85_left_inner_knuckle_link </gripper_link>
					<gripper_link>robotiq_85_right_inner_knuckle_link </gripper_link>
					<gripper_link>robotiq_85_left_finger_tip_link </gripper_link>
					<gripper_link>robotiq_85_right_finger_tip_link </gripper_link>

                </arm>
                <forces_angle_tolerance>100</forces_angle_tolerance>
                <update_rate>10</update_rate>
                <grip_count_threshold>3</grip_count_threshold>
                <max_grip_count>10</max_grip_count>
                <release_tolerance>0.001</release_tolerance>
                <disable_collision_on_attach>false</disable_collision_on_attach>
                <contact_topic>__default_topic__</contact_topic>
            </plugin>

        </hardware>

        <!-- Robot Arm Joints -->
        <joint name="joint_s">
            <command_interface name="position">
                <param name="min">-${PI/2}</param>
                <param name="max">${PI/2}</param>
            </command_interface>
             <state_interface name="position"/>

             </joint>
        <joint name="joint_l">
            <command_interface name="position">
                <param name="min">-${PI/2}</param>
                <param name="max">${PI/2}</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="joint_u">
            <command_interface name="position">
                <param name="min">-${PI/2}</param>
                <param name="max">${PI/2}</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="joint_r">
            <command_interface name="position">
                <param name="min">-${PI/2}</param>
                <param name="max">${PI/2}</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="joint_b">
            <command_interface name="position">
                <param name="min">-${PI/2}</param>
                <param name="max">${PI/2}</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="joint_t">
            <command_interface name="position">
                <param name="min">-${PI/2}</param>
                <param name="max">${PI/2}</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

            
         <joint name="robotiq_85_left_knuckle_joint">
            <param name="initial_position">0.7929</param>
            <command_interface name="effort" />
            <state_interface name="effort"/>
        </joint>


           <joint name="robotiq_85_right_knuckle_joint">
                <param name="mimic">robotiq_85_left_knuckle_joint</param>
                <param name="multiplier">1</param>
                <command_interface name="effort">
                    <param name = "min">0.0</param>
                    <param name = "max">${PI/2}</param>
                </command_interface>
                <state_interface name="effort"/>
            </joint>

            <joint name="robotiq_85_left_inner_knuckle_joint">
                <param name="mimic">robotiq_85_left_knuckle_joint</param>
                <param name="multiplier">1</param>
                <command_interface name="effort">
                    <param name = "min">0.0</param>
                    <param name = "max">${PI/2}</param>
                </command_interface>
                <state_interface name="effort"/>
            </joint>
            <joint name="robotiq_85_right_inner_knuckle_joint">
                <param name="mimic">robotiq_85_left_knuckle_joint</param>
                <param name="multiplier">1</param>
                <command_interface name="effort">
                    <param name = "min">0.0</param>
                    <param name = "max">${PI/2}</param>
                </command_interface>
                <state_interface name="effort"/>
            </joint>

            <joint name="robotiq_85_left_finger_tip_joint">
                <param name="mimic">robotiq_85_left_knuckle_joint</param>
                <param name="multiplier">-1</param>
                <command_interface name="effort">
                    <param name = "min">0.0</param>
                    <param name = "max">-${PI/2}</param>
                </command_interface>
                <state_interface name="effort"/>
            </joint>
            <joint name="robotiq_85_right_finger_tip_joint">
                <param name="mimic">robotiq_85_left_knuckle_joint</param>
                <param name="multiplier">-1</param>
                 <command_interface name="effort">
                    <param name = "min">0.0</param>
                    <param name = "max">-${PI/2}</param>
                </command_interface>
                <state_interface name="effort"/>
            </joint>
    </ros2_control>
</robot>
