<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="robotiq_85_gripper_transmission">
        <transmission name="robotiq_85_left_knuckle_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="finger_joint">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="robotiq_85_left_knuckle_motor">
                <mechanicalReduction>1</mechanicalReduction>
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </actuator>
        </transmission>

        <gazebo>
          
            <plugin filename="libroboticsgroup_gazebo_mimic_joint_plugin.so" name="mimic_robotiq_85_1">
                <joint>finger_joint</joint>
                <mimicJoint>left_inner_knuckle_joint</mimicJoint>
                <!--multiplier>1.0</multiplier>
                <offset>0.0</offset-->
            </plugin>
            <plugin filename="libroboticsgroup_gazebo_mimic_joint_plugin.so" name="mimic_robotiq_85_2">
                <joint>finger_joint</joint>
                <mimicJoint>left_inner_finger_joint</mimicJoint>
                <!--multiplier>1.0</multiplier>
                <offset>0.0</offset-->
            </plugin>
            <plugin filename="libroboticsgroup_gazebo_mimic_joint_plugin.so" name="mimic_robotiq_85_3">
                <joint>finger_joint</joint>
                <mimicJoint>right_inner_knuckle_joint</mimicJoint>
                <!-- multiplier>1.0</multiplier>
                <offset>0.0</offset-->
            </plugin>
            <plugin filename="libroboticsgroup_gazebo_mimic_joint_plugin.so" name="mimic_robotiq_85_4">
                <joint>finger_joint</joint>
                <mimicJoint>right_inner_finger_joint</mimicJoint>
                <multiplier>-1.0</multiplier>
                <offset>0.0</offset>
            </plugin>
            <plugin filename="libroboticsgroup_gazebo_mimic_joint_plugin.so" name="mimic_robotiq_85_5">
                <joint>finger_joint</joint>
                <mimicJoint>right_outer_knuckle_joint</mimicJoint>
                <multiplier>-1.0</multiplier>
                <offset>0.0</offset>
            </plugin>
        </gazebo>

         <!-- Define the mimic joints explicitly -->

    </xacro:macro>
</robot>