<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:include filename="$(find yaskawa_mh5_description)/urdf/robotiq_85_gripper_macro_effort.urdf.xacro" />
    
    <!-- <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"> 
            <robotNamespace>yaskawa_mh5</robotNamespace>
        </plugin> 
    </gazebo> -->
    <xacro:robotiq_85_gripper prefix="" parent="link_t">
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    </xacro:robotiq_85_gripper>
</robot>
